{% extends 'base2.html' %}
{% load django_bootstrap5%}
{% load static %}

{% block content %}

<div class="container py-3">
  <!-- 상단 바-->
  <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex">
          <a href="{% url 'free:index' %}" class="display-2 me-3 link-btn text-dark text-decoration-none" >
              <i class="bi bi-arrow-left-short"></i>
          </a>
          <div class="d-flex flex-column py-2">
              <p class="text-danger m-0">에브리타임</p>
              <p class="m-0">먹짱대</p>
          </div>
      </div>
  </div>
  <!-- 게시글 -->
  <div class="p-3 d-flex flex-column">
    <div class="d-flex align-items-center mb-3">
      {% if user.profile.image %}
      <img class="free-profile me-3" src="{{ user.profile.image.url }}" alt="{{ user.profile.image }}" class='mb-2'>
      {% else %}
      <img class="free-profile me-3" src="{% static 'images/new.jpg' %}" alt="no-profile-image">
      {% endif %}
      <div class="d-flex flex-column py-2">
        <p class="fs-5 fw-bold m-0">{{ review.user }}</p>
        <p class="text-muted m-0">{{ review.updated_at | date:'m/d H:i' }}</p>
      </div>
    </div>
    <h5 class="my-2">{{ review.title }}</h5>
    <p class="my-2">{{ review.content }}</p>
    <div class="d-flex my-2 justify-content-between">
      <!-- 좋아요/댓글 수 -->
      <p class="m-0">
        <span class='text-danger me-2'>
          <i class="bi bi-heart"></i>
          <span class='like-cnt'>{{ review.like_users.count }}</span>
        </span>
        <span class='text-primary'>
            <i class="bi bi-chat"></i>
            {{ review.comment_set.count }}
        </span>
      </p>
      <div class="d-flex align-items-center">
        {% if request.user == review.user %}
        <!-- 수정/삭제 : 로그인유저 == 작성유저-->
        <a href="{% url 'free:update' review.pk %}" class="btn btn-primary">수정</a>
        <form class="m-0" action="{% url 'free:delete' review.pk %}" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger mx-2" value="삭제">
        </form>
        {% else %}
        <!-- 좋아요 : 로그인유저 <> 작성유저-->
        <form class='like-form m-0' data-review-pk='{{ review.pk }}'>
          {% csrf_token %}
          {% if request.user in free.like_users.all %}
            <button class="btn btn-link text-danger p-0">
              <i class="bi bi-heart-fill heart-icon"></i>
            </button>
          {% else %}
            <button class="btn btn-link text-danger p-0">
              <i class="bi bi-heart heart-icon"></i>
            </button>
          {% endif %}
        </form>
        <span class="ms-1 text-danger">좋아요</span>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>
  <!-- 댓글 -->
  <div class="d-flex flex-column">
    {% if request.user.is_authenticated %}
    <form action="{% url 'free:comment_create' review.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <div class="d-flex justify-content-end">
        <input class="btn btn-dark" type="submit" value="작성하기">
      </div>
    </form>
    {% endif %}
    {% for comment in comments %}
    <div class="border-bottom p-1 d-flex flex-column comment-block-{{ comment.pk }}">
      <div class='d-flex flex-column comment-{{ comment.pk }}-content-container'>
        <div class="d-flex align-items-center">
          {% if comment.user.profile.image %}
          <img class="free-comment-profile me-2" src="{{ comment.user.profile.image.url }}" alt="{{ comment.user.profile.image }}" class='mb-2'>
          {% else %}
          <img class="free-comment-profile me-2" src="{% static 'images/new.jpg' %}" alt="no-profile-image">
          {% endif %}
          <p class="my-1 fw-bold">{{ comment.user.username }}</p>
        </div>
        <p class='my-1 comment-{{ comment.pk }}-content'>{{ comment.content }}</p>
        <div class="d-flex justify-content-between">
          <p class="my-1 text-muted">{{ comment.updated_at | date:'m/d H:i' }}</p>
          <div class="d-flex">
            {% if request.user == comment.user %}
            <a href="{% url 'free:comment_update' review.pk comment.pk %}" class="btn btn-primary btn-sm comment-update-btn" data-review-pk='{{ review.pk }}' data-comment-pk='{{ comment.pk }}'>수정</a>
            <form action="{% url 'free:comment_delete' review.pk comment.pk %}" method="POST" class="my-0">
              {% csrf_token %}
              <input type="submit" class="btn btn-danger btn-sm ms-2" value="삭제">
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <p>아직 아무도 못본거라고 믿자,,</p>
    {% endfor %}
  </div>
</div>

{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/free/detail.js' %}"></script>
{% endblock js %}