@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  font-family: 'Jua', sans-serif;
}

.box {
  width: 270px;
  height: 350px;
  border: solid 1px;
  background-color: rgb(253, 253, 253);
  text-align: center;
}

.front {
  position: relative;
  top: -15px;
  left: 10px;
  transform: rotate(2deg);
}

.back {
  margin: 3rem;
}

.clip-board {
  width: 676px;
  min-height: 800px;
  background-color: black;
}

.member {
  position: relative;
  top: 50px;
  left: 50px;
  width: 576px;
  min-height: 700px;
  border: solid 1px;
  background-color: rgb(253, 253, 253);
}

.img-card {
  width: 120px;
  height: 120px;
  border: solid 1px;
}

.img-crop {
  width: 110px;
  height: 110px;
  overflow: hidden;
}

.grade {
  font-family: 'Lobster', cursive;
  color: red;
  font-size: 3rem;
}

.banner {
  height: 300px;
}

.banner-img {
  height: 200px;
  object-fit: contain;
}

.id-card {
  max-width: 720px;
  min-width: 500px;
  min-height: 350px;
}

.id-img {
  border: solid 3px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}