{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container">
    <section class="border mt-4 py-3 px-5">
      <!-- 프로필 -->
      <h3 class="text-center my-2">{{ user }}의 프로필</h3>
      <div class="row my-2">
        <!-- 프로필 사진 / 팔로우-->
        <div class="col-sm-3 col-12">
          <div class="d-flex flex-column align-items-center">
            <img style="width:200; height:200;" class="rounded" src="" alt="프로필 사진 없음">
            <div class="d-flex justify-content-center">
              <div class="mx-1">
                {% if request.user != user %}
                  <a class="display-5" href="{% url 'accounts:follow' user.pk %}">
                    {% if request.user in user.followers.all %}
                      <i class="bi bi-star-fill"></i>
                    {% else %}
                      <i class="bi bi-star"></i>
                    {% endif %}
                  </a>
                {% else %}
                  <i class="bi bi-star-fill display-5"></i>
                {% endif %}
              </div>
              <div class="mx-1 d-flex flex-column align-items-center">
                <span class="m-0">
                  팔로잉
                  {{ user.followings.count }}
                </span>
                <span>
                  팔로워
                  {{ user.followers.count }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- 프로필 정보 -->
        <div class="col-sm-9 col-12">
          <dl class="row m-2">
            <dt class="col-sm-3 text-center">유저 아이디</dt>
            <dd class="col-sm-9">{{ user.username }}</dd>
            <dt class="col-sm-3 text-center">이메일</dt>
            <dd class="col-sm-9">{{ user.email }}</dd>
            <dt class="col-sm-3 text-center">성</dt>
            <dd class="col-sm-9">{{ user.last_name }}</dd>
            <dt class="col-sm-3 text-center">이름</dt>
            <dd class="col-sm-9">{{ user.first_name }}</dd>
            <dt class="col-sm-3 text-center">상태메시지</dt>
            <dd class="col-sm-9">{{ user.profile.status_message }}</dd>
          </dl>
          <div class="d-flex justify-content-end">
            {% if request.user.is_authenticated %}
              {% if request.user == user %}
                <a class="btn btn-primary" href="{% url 'accounts:update' %}">프로필 수정</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
        <!-- 작성글 / 작성댓글 / 좋아요 -->
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
