{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <div class="container">

    <!-- 학생증 -->
    <div class="card id-card mx-auto my-3 border-dark">
      <div class="card-header border-dark text-center text-bg-dark">
        JJ UNIVERSITY ID CARD
      </div>
      <div class="card-body row">
        <div class="col-12 col-md-5 my-2 d-flex flex-column align-items-center">
          <!-- 프로필 이미지 -->
          {% if user.profile.image %}
          <img class="id-img rounded-4 m-3" src="{{ user.profile.image.url }}" alt="{{ user.profile.image }}" class='mb-2'>
          {% else %}
          <img class="id-img rounded-4 m-3" src="{% static 'images/new.jpg' %}" alt="no-profile-image">
          {% endif %}
          <!-- 프로필 업데이트 -->
          {% if request.user == user %}
          <div class="d-flex justify-content-center m-3">
            <a class="btn btn-dark mx-1" href="{% url 'accounts:profile' request.user.pk %}">사진 등록</a>
            <a class="btn btn-dark mx-1" href="{% url 'accounts:update' %}">정보 추가</a>
          </div>
          {% endif %}
        </div>
        <!-- 프로필 정보 -->
        <div class="col-12 col-md-7 my-2 d-flex flex-column justify-content-center align-items-center">
          <dl class="row m-3">
            <dt class="col-3 text-center">Name : </dt>
            <dd class="col-9">{{user}}</dd>
            <dt class="col-3 text-center">Class : </dt>
            <dd class="col-9">ㅇㅇ학과</dd>
            <dt class="col-3 text-center">Rank : </dt>
            <dd class="col-9">신입생</dd>
            <dt class="col-3 text-center">E-mail : </dt>
            <dd class="col-9">{{user.email}}</dd>
            <!-- 상태 메세지 -->
            <dt class="col-3 text-center">Status : </dt>
            {% if user.profile.status_message %}
            <dd class="col-9">{{ user.profile.status_message }}</dd>
            {% else %}
            <dd class="col-9">없음</dd>
            {% endif %}
            <!-- 팔로우 -->
          </dl>
          <div class="d-flex justify-content-center align-items-center">
            {% if request.user != user %}
              <form class="follow-form m-0 mx-1" data-user-pk='{{ user.pk }}'>
                {% csrf_token %}
                {% if request.user in user.followers.all %}
                  <input type="submit" class="btn btn-dark follow-btn mx-1" value='Unfollow'>
                {% else %}
                  <input type="submit" class="btn btn-dark follow-btn mx-1" value='Follow'>
                {% endif %}
              </form>
            {% endif %}
            <span class="m-1">
              following
              <span class='following-cnt mx-1'>{{ user.followings.all|length }}</span>
            </span>
            <span class="m-1">
              follower
              <span class='follower-cnt mx-1'>{{ user.followers.all|length }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- 작성한 글 -->
    <div>
      <h4>작성한 글</h4>
      <p>디자인 생각 중</p>
      <p></p>
    </div>

    <hr>

    <!-- 작성한 댓글 -->
    <div>
      <h4>작성한 댓글</h4>
      <p>디자인 추천</p>
      <p></p>
    </div>

    <hr>

    <!-- 좋아요 식당-->
    <div>
      <h4>좋아요한 식당</h4>
      <p>흠</p>
      <p></p>
    </div>    

  </div>
  {% endblock %}

  {% block js %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/accounts/detail.js' %}"></script>
{% endblock js %}
