{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
  <div class="container py-5">
    <div class="card form-card mx-auto my-5 position-relative">
      <div class="card-header border-dark text-center text-bg-dark">
        <h3 class="m-0">출입 허가증</h3>
      </div>
      <div class="card-body">
        <form class="p-4 my-2" action="" method='POST'>
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="d-flex justify-content-end mt-5">
            <div class="m-2">
              {% load socialaccount %}
              <a href=" {% provider_login_url 'google' %}">구글</a>
              <a href=" {% provider_login_url 'naver' %}">네이버</a>
              <a href=" {% provider_login_url 'kakao' %}">카카오</a>
            </div>
            <input class="btn btn-dark" type="submit" value="출입 확인">
          </div>
          <img class="position-absolute bottom-0 start-0 my-3 mx-5" style="width:80px;" src="{%static 'images/enter.jpg' %}" alt="">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}