{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}

{% block content %}
<div class='container'>
  <div class="d-flex justify-content-between">
<div class='m-3'>
    <h1 class="mb-4">DETAIL페이지</h1>
    <p>작성자 : {{ comment.user.username }} </p>
    <p>내용 : {{ comment.content }}</p>
    <div class="img-card my-2 p-1">
      <img class="img-fit" src="{{ comment.image.url }}">
    </div>
    {% if review.image %}
    <img src="{{ review.image.url }}" alt="{{ review.image }}" width="400" height="300">
  {% endif %}   
    {% if request.user == review.user %}
    

  {% endif %}
  </div>


  <a href="{% url 'articles:index' %}" class="text-decoration-none" >back</a>
</div>
{% endblock %}
