{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}

{% block content %}
<div class='container'>
  <div class="d-flex justify-content-between">
<div class='m-3'>
    <h1 class="mb-4">DETAIL페이지</h1>
    <p>작성자 : {{ comment.user.username }} </p>
    <p>내용 : {{ comment.content }}</p>
    <div class="img-card my-2 p-1">
      <img class="img-fit" src="{{ comment.image.url }}">
    </div>  
    {% if request.user == review.user %}
    
    <div class="d-flex">

      <a href="{}" class="btn btn-outline-dark">수정</a>
    
  <form action="{% url 'articles:comment_create' review.pk comment.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="btn btn-outline-danger mx-2" value="삭제">
  </div>
  </form>
  {% endif %}
  </div>


  <a href="{% url 'articles:index' %}" class="text-decoration-none" >back</a>
</div>
{% endblock %}
