{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

<article class='comment-block-{{ comment.pk }}'>
 
  <div class="p-3 mb-4" style="border-radius: 1rem; box-shadow: 2px 3px 7px">
  <p class='comment-{{ comment.pk }}-content-container'>
    {{ comment.user.username }}
    |
      <span class='comment-{{ comment.pk }}-content'>{{ comment.content }}</span>
  </p>
  <div class="d-flex">
    {% if request.user == review.user %}
    <a href="{% url 'articles:comment_update' review.pk comment.pk %}" class="btn btn-outline-dark comment-update-btn" data-review-pk='{{ review.pk }}' data-comment-pk='{{ comment.pk }}'>수정</a>
    <form action="{% url 'articles:comment_delete' review.pk comment.pk %}" method="POST" class="my-0">
      {% csrf_token %}
      <input type="submit" class="btn btn-outline-danger mx-2" value="삭제">
    </form>
  </div>
  {% endif %}
</div>
</article>
<hr>

{% endblock %}
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/articles/detail.js' %}"></script>
  {% endblock js %}