{% extends 'base.html' %}
{% load django_bootstrap5%}
{% load static %}

{% block content %}
<div class="container py-3">
    <div class="form-create mx-auto my-5 position-relative">
        <img class="position-absolute top-0 end-0 mx-3" style="width:100px;" src="{%static 'images/banner.png' %}" alt="">
        <h2 class="text-center mt-5 mb-4">Dr.JJ 맛집연구일지</h2>
        <div name="box" class="container my-5">
            <div id="map" class="mx-auto mb-2" style="width:500px;height:400px;"></div>
            <form class="p-4 my-2" name="mapform" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3"><label class="form-label" for="id_title">음식점</label><input type="text" name="title" maxlength="100" class="form-control" placeholder="음식점" required="" id="id_title"></div>
                <label for="id_addr" class="form-label">주소</label>
                <div class="input-group mb-3">
                    <input name="addr" maxlength="80" type="text" class="form-control" placeholder="주소" id="id_addr" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button onclick="transform()" class="btn btn-dark" type="button" id="button-addon2">주소 확인</button>
                </div>
                <!-- <div class="mb-3"><label class="form-label" for="id_addr">Addr</label>
                    <input type="text" name="addr" maxlength="80" class="form-control" placeholder="Addr" required="" id="id_addr"> <button class="btn btn-primary my-3" onclick="transform()">주소확인</button>
                </div> -->
                <div class="mb-3"><label class="form-label" for="id_content">메뉴</label><input type="text" name="content" maxlength="80" class="form-control" placeholder="메뉴" required="" id="id_theme"></div>
                <div class="mb-3"><label class="form-label" for="id_image">Image</label><input type="file" name="image" accept="image/*" class="form-control" id="id_image"></div>
                <input name="x" type="hidden" value="">
                <input name="y" type="hidden" value="">
                <div class="d-flex justify-content-end">
                    <input class="btn btn-dark" type="submit" value="제출하기">
                </div>
            </form>
        </div>
        <a href="{% url 'articles:index' %}" class="btn btn-dark text-decoration-none" >back</a>
    </div>
</div>
        
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c262112c4811d99bb369cd08f0c8ef80&libraries=clusterer&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map'),
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667),
            level: 3
        };  
    var map = new kakao.maps.Map(mapContainer, mapOption); 
    function transform() {
        var geocoder = new kakao.maps.services.Geocoder();
        var address = document.mapform.addr.value
        var title = document.mapform.title.value
        geocoder.addressSearch(`${address}`, function(result, status) {
            if (status === kakao.maps.services.Status.OK) {
                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });
                var latlng = marker.getPosition()
                console.log(result)
            document.mapform.x.value=latlng['La']
            document.mapform.y.value=latlng['Ma']
            
            var infowindow = new kakao.maps.InfoWindow({
                
            });
            
            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }   else {
            alert('정확한 주소를 입력해 주세요.')
        }
    });    
} 
</script>
{% endblock %}