{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'articles:index' %}">쩝쩝박사</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        {% if request.user.is_authenticated %}
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'accounts:detail' request.user.pk %}">Hi, {{ request.user.username }}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'accounts:logout' %}">logout</a>
            </li>
        </ul>
            {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'accounts:login' %}">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signup' %}" >signup</a>
            </li>
        </ul>
        {% endif %}
        </div>
    </div>
</nav>

<a href="{% url 'articles:create' %}" class="text-decoration-none"><h4>CREATE</h4></a>
</div>
<hr>
{% endblock %}