{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<h1 class="text-center m-3">교수 소개</h1>
<br>
<div class="d-flex">
<div class="mt-4">
    <img class="id-img border border-dark" src="{%static 'images/경욱.png' %}" alt="">
</div>
<div class="mx-4">
<p>이름 : 문경욱</p>
<p>학과 : 한식학과</p>
<p>보직 : 총장</p>
<p>인스타 : gyeonguk_moon</p>
<p>깃허브 : https://github.com/9776mk/</p>
<p>추천식당 : 연희동 돈까스가 땡길때</p>
<p>총장님 인사말 <br>
    안녕하십니까. 먹보대학 1대 총장 문경욱입니다.
    <br>
    저희 먹보대학에 오신 모든 분들을 진심으로 환영합니다. 
    <br>
    어느덧 여름에 시작한 KDT 교육과정이 겨울에 접어들며, 마지막을 향해 가고 있습니다. 이렇게 여러분들 앞에 먹보대학을 선보이게 될 수 있었던 것은 열심히 가르쳐 주시는 튜터님들을 비롯하여 모든 구성원들이 서로를 격려하고 도와준 결과라고 생각합니다.
    <br>
    다소 부족할 수는 있지만 진심어린 애정과 관심으로 저희를 격려해주시면, 여러분들을 위해 열심히 노력하도록 하겠습니다.
    <br>
    저희 먹보대학의 설립을 위해 밤낮으로 노력하신 김윤지, 신우철, 최민아 쩝쩝박사님들과 차화영, 하승찬님의 도움으로 조촐하지만 이렇게 꾸며냈습니다.
    <br>
    부디 재밌게 놀다가시길 바랍니다.
    <br>
    2022년 11월 7일
    <br>
    1대 총장 문경욱 올림
    </p> </p>
</div>
</div>
<br>
<div class="d-flex mb-3">
<div class="mt-2">
    <img class="id-img  border border-dark" src="{%static 'images/우철.png' %}" alt="">
</div>
<div class="mx-4">
<p>이름 : 신우철</p>
<p>학과 : 고기학과</p>
<p>보직 : 교수</p>
<p>인스타 : @tlsdniron</p>
<p>깃허브 : https://github.com/woocheolll</p>
<p>추천식당 : 부산 소인수분해(곱창)</p>
</div>
</div>
<br>
<div class="d-flex mb-3">
<div class="mt-2">
    <img class="id-img border border-dark" src="{%static 'images/윤지.jpg' %}" alt="">
</div>
<div class="mx-4">
<p>이름 : 김윤지</p>
<p>학과 : 양식학과</p>
<p>보직 : 교수</p>
<p>인스타 : @yy_oonj</p>
<p>깃허브 : https://github.com/YoonDii</p>
<p>추천식당 : 홍대 윤씨밀방</p>
</div>
</div>
<div class="d-flex mb-3">
<div class="mt-2">
    <img class="id-img border border-dark" src="{%static 'images/민아.jpg' %}" alt=""></div>
<div class="mx-4">
<p>이름 : 최민아</p>
<p>학과 : 디저트학과</p>
<p>보직 : 교수</p>
<p>인스타 : @m.i.n_10.30</p>
<p>깃허브 : https://github.com/ccmmaa1030</p>
<p>추천식당 : 홍대 바나나하루키</p>
</div>
</div>

</div>


{% endblock  %}