{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
<h1 class="text-center mb-5">교수 소개</h1>
<br>
<div class="d-flex">
<div class="mt-4">
    <img class="id-img border border-dark" src="{%static 'images/경욱.png' %}" alt="">
</div>
<div class="mx-4">
<p>이름 : 문경욱</p>
<p>학과 : 한식학과</p>
<p>보직 : 총장</p>
<p>인스타 : gyeonguk_moon</p>
<p>깃허브 : https://github.com/9776mk/</p>
<p>추천식당 : 연희동 돈까스가 땡길때</p>
<p>총장님 인사말 : </p>
</div>
</div>
<br>
<div class="d-flex mb-3">
<div class="mt-2">
    <img class="id-img  border border-dark" src="{%static 'images/우철.png' %}" alt="">
</div>
<div class="mx-4">
<p>이름 : 신우철</p>
<p>학과 : 고기학과</p>
<p>보직 : 교수</p>
<p>인스타 : tlsdniron</p>
<p>깃허브 : https://github.com/woocheolll</p>
<p>추천식당 : 부산 소인수분해(곱창)</p>
</div>
</div>
<br>
<div class="d-flex mb-3">
<div class="mt-2">
    <img class="id-img border border-dark" src="{%static 'images/윤지.jpg' %}" alt="">
</div>
<div class="mx-4">
<p>이름 : 김윤지</p>
<p>학과 : 양식학과</p>
<p>보직 : 교수</p>
<p>인스타 : yy_oonj</p>
<p>깃허브 : https://github.com/YoonDii</p>
<p>추천식당 : 홍대 윤씨밀방</p>
</div>
</div>
<div class="d-flex mb-3">
<div class="mt-2">
    <img class="id-img border border-dark" src="{%static 'images/민아.jpg' %}" alt=""></div>
<div class="mx-4">
<p>이름 : 최민아</p>
<p>학과 : 디저트학과</p>
<p>보직 : 교수</p>
<p>인스타 : @m.i.n_10.30</p>
<p>깃허브 : https://github.com/ccmmaa1030</p>
<p>추천식당 : 홍대 바나나하루키</p>
</div>
</div>
</div>


{% endblock  %}