{% extends 'base.html' %}

{% block content %}

  <div>
    <h1 class='text-center my-5'>
        "{{ search }}" 검색결과
    </h1>

    {% if reviews %}
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>제목</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
          <tr>
            <td>
              <a href="{% url 'articles:detail' review.pk %}">{{ review.title }}</a>
            </td>
            <td>{{ review.content }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h1> 검색 결과가 없습니다. </h1>
    {% endif %}
  </div>
{% endblock %}
