{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <h1 class="text-center m-3">재능기부</h1>
  <h3 class="text-center mb-5">감사드립니다.</h3>
  <br>
  <div class="d-flex">
<div class="d-flex mb-3">
  <div class="mt-2">
      <img class="id-img border border-dark" src="{%static 'images/화영1.jpg' %}" alt=""></div>
  <div class="mx-4">
    <p>이름 : 차밍</p>
    <p>학과 : 식빵굽기학과</p>
    <p>보직 : 귀요미 </p>
    <p>인스타 : @my_funny_valentine_hwa_0_eee </p>
    <p>깃허브 : https://github.com/forwardyoung</p>
    <p>추천식당 : 다담닭갈비 </p>
  </div>
</div>

<div class="d-flex mb-3">
  <div class="mt-2">
      <img class="id-img border border-dark" src="{%static 'images/승찬.png' %}" alt=""></div>
  <div class="mx-4">
    <p>이름 :하승찬</p> <p>학과 :거위조리학과</p> <p>보직 :거위요리사</p> <p>인스타 :@hsc.chan</p> <p>깃허브 :https://github.com/caretim</p> <p>추천식당 :레스쁘아 뒤 이부(푸아그라) </p>
  </div>
</div>
{% endblock  %}